@mixin pc {
  @media (min-width: 1025px) {
    @content;
  }
}

@mixin tab {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin sp {
  @media (max-width: 599px) {
    @content;
  }
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 12px;
  line-height: 1.67;
}

.msg__jp {
  font-family: "Noto Serif JP", serif;
}

.inner {
  width: 85%;
  padding: 261px 0 70px;
  margin: 0 auto;

  @include tab {
    width: 89%;
    padding: 60px 0;
  }
}

.title {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
  color: #707070;
  padding-bottom: 11px;

  @include tab {
    padding-bottom: 50px;
  }

  &::after {
    display: inline-block;
    content: "";
    width: 5em;
    margin-left: 2rem;
    border-top: 1px solid #707070;

    @include tab {
      width: 2.5em;
    }

  }
}


.pc {
  @include tab {
    display: none;
  }
}

.tab {
  @include pc {
    display: none;
  }
}
