#menu {
    width: 100%;
}

.menu-wrap {
    display: flex;
    justify-content: space-between;

    @include tab {
        flex-direction: column;
    }
}

.menu-item {
    width: 25%;

    @include tab {
        width: 100%;
        margin-bottom: 50px;

        .menu-item:nth-child(3) {
            margin-bottom: 0;
        }
    }

    &__img {
        height: 270px;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.menu-content {
    padding-top: 25px;
    font-family: "Roboto Mono", monospace;
    color: #000;

    &__title {
        font-size: 3rem;
        text-align: center;

        @include tab {
            text-align: left;
        }
    }

    &__desc {
        width: 92%;
        font-size: 1.6rem;
        margin: 34px auto;
    }

    &__price {
        text-align: right;
        font-size: 1.6rem;
    }
}

